/* PROGRESS BARS */

.progress-container{
  margin-top:10px;
}

.progress-bar{
  width:100%;
  background:#ddd;
  height:20px;
  border-radius:20px;
  overflow:hidden;
}

.progress-fill{
  background:#0000FF;
  height:100%;
  color:white;
  text-align:center;
  line-height:20px;
}

/* TIMELINE */

.timeline{
  margin-top:15px;
  padding-left:20px;
}

.timeline-item{
  margin-bottom:8px;
}
